
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}

header {
  height: 90px;  
}

main {
  height: calc(100vh - 90px);
  overflow: auto;
  background-color: rgb(34, 26, 26);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}