.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(#000000, .2);
}

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-items-center {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.basis-5 {
  flex-basis: 18%;
}